.fixed-header nav {
    position: fixed;
    left: 0px;
    top: 0px;
}

.fixed-header .content {
    padding-top: 60px;
}

.padded-content {
    padding-top: 60px
}

.header-banner {
    background-color: #000;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
    max-height: 100vh;
    overflow: hidden;
}

#container {
    position: relative;
    width: 100%;
    z-index: 10;
    padding-bottom:75vh;
}

#outer {
    padding-top: 33vh;
}

#inner {
    min-height: 67vh;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

nav {
    background-color: #111;
    height: 60px;
    color: #ccc;
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    line-height: 57px;
    margin: 0 15px;
    font-size: 11pt;
    text-transform: uppercase;
}

nav .focused {
    border-bottom: 3px solid rgb(80,110,230);
}

nav .toc ul ul {
    display: none;
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 0 45;
    font-size: 12pt;
}

.content h1 {
    padding-top: 120;
    margin-top: -60;
    text-align: center;
}

.content h2 {
    padding-top: 20;
}


body {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", arial, sans-serif;
}
