.content {
    max-width: 800px;
    margin: auto;
    padding: 0 45px;
    font-size: 12pt;
    text-align: justify;
    text-justify: inter-word;
}

.content h1 {
    padding-top: 120px;
    margin-top: -60px;
    text-align: center;
}

.content h2 {
    padding-top: 20px;
}

.content * {
    max-width: 100%;
    font-family: "Roboto", inherit;
}
