body {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

#banner {
    background-color: #000;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    max-height: 100vh;
    overflow: hidden;
}
#outer {
    padding-top: 33vh;
}
#inner {
    min-height: 67vh;
    background-color: #fff;
}

@media (min-width: 768px) {
    .navbar {
        background-color: #111;
        border: 0;
        color: #ccc;
        width: 100%;
    }

    nav a {
        color: #fff !important;
    }

    .active > a {
        color: #fff !important;
        background-color: inherit !important;
        border-bottom: 3px solid rgb(80, 110, 230);
    }

    nav ul li {
        display: inline-block;
        line-height: 57px;
        margin: 0 15px;
        font-size: 11pt;
        text-transform: uppercase;
    }
}

#below-navbar.fixed-header {
    /* This class is dynamically added when navbar gets fixed. */
    padding-top: 60px;
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 0 45px;
    font-size: 12pt;
    text-align: justify;
    text-justify: inter-word;
}
.content * {
    max-width: 100%;
}
.content h1 {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
.content h2 {
    padding-top: 20px;
}
.content a[name] {
    color: inherit;
    text-decoration: none;
}
.content a[name]:before {
    content: "";
    display: block;
    margin: -60px 0 0;
    height: 60px;
}
.content .table td {
    vertical-align: middle;
}

#visualization {
    position: relative;
}
#visualization #legend {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    padding: 15px;
}

footer {
    padding-bottom: 15px;
}
