database.db

# Where bot code of participants is saved
battlebots/bots/
# Where logs of matches are saved
battlebots/logs/

# IntelliJ files
.idea/*
*.iml
*.data
**/__pycache__

# SASS
*.map
.sass-cache/
