config.py

database.db
ranker.pid
*.log
tmp

# Where bot code of participants is saved
battlebots/bots/
# Where logs of matches are saved
battlebots/matches/

# IntelliJ files
.idea/*
*.iml
*.data
**/__pycache__

# SASS
*.map
.sass-cache/

# Python shizzle
*.pyc
__pycache__
