decorator==4.0.9
docutils==0.12
Flask==0.10.1
Flask-Login==0.3.2
Flask-WTF==0.12
itsdangerous==0.24
Jinja2==2.8
lockfile==0.12.2
Markdown==2.6.6
MarkupSafe==0.23
pbr==1.8.1
python-daemon==2.1.1
six==1.10.0
SQLAlchemy==1.0.12
sqlalchemy-migrate==0.10.0
sqlparse==0.1.19
Tempita==0.5.2
Werkzeug==0.11.5
WTForms==2.1
