{#
    This template contains all items every page should contain (ex. navbar, footer).
    Fill the block 'content' to use it.
#}

{# Set the active page for highlighting in the navbar. Default is home. #}
{% set active_page = active_page|default('home') -%}

{# List for every element that should appear in the navigation bar (1) the controller function, (2) the name that should
   be shown, and (3) whether it's required to be logged in to see this element. #}
{% set navbar = [
  ('home', 'Home', False),
  ('rules', 'Rules', False),
  ('bots', 'My bots', False),
  ('ranking', 'Ranking', False)
] -%}


{# Macro for easier form rendering #}
{% macro render_field(field) %}
  <dt>{{ field.label }}</dt>
  <dd>
    {{ field(**kwargs) }}
    {% if field.errors %}
      <ul class="errors">
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </dd>
{% endmacro %}


<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Zeus WPI's Badass Battle Bots">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  {% block stylesheets -%}{%- endblock %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  {% block javascripts -%}{%- endblock %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

  <title>Badass Battle Bots - {{ active_page|capitalize }}</title>
</head>

<body>
  <img id="banner" src="{{ url_for('static', filename='header.jpg') }}"/>

  <div id="outer">
    <div id="inner">
      <nav class="navbar navbar-default">
        <div class="container">

          <!-- The navbar collapses for small viewports -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed dropdown"
                                  data-toggle="collapse"
                                  data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Main navbar content-->
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              {% for id, name, login_required in navbar -%}
                {% if not login_required or current_user.is_authenticated %}
                  <li class="{{ 'active' if active_page in id else '' }}">
                    <a href="{{ url_for(id) }}">{{ name }}</a>
                  </li>
                {% endif %}
              {% endfor -%}
            </ul>

            <!-- Navbar-rightside, used for login/logout/account-access -->
            <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
                <li>
                  <a href="{{ url_for('profile', user=current_user.nickname) }}">Profile</a>
                </li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
              {% else %}
                <li class="{{ 'active' if active_page == 'login' else '' }}">
                  <a href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="{{ 'active' if active_page == 'register' else '' }}">
                  <a href="{{ url_for('register') }}">Register</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

      <div id="below-navbar" class="container">
        <div class="flash">
          {% for message in get_flashed_messages() %}
            <div class="alert alert-info">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        </div>

        {# Block to be filled on each page. #}
        {% block content -%}{%- endblock %}
      </div>

      <footer>
        <hr>
        <div class="container">
          <div class="pull-right">Made with ❤ by <a href="http://zeus.ugent.be">Zeus WPI</a></div>
          <div class="pull-left"><a href="http://github.com/ZeusWPI/aichallenge">© 2016</a></div>
        </div>
      </footer>
    </div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-25444917-10', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
