{% extends "layout.html" -%}
{% set active_page = "ranking" -%}

{% block content -%}
  <div class="content">
    <table class="table table-striped table-hover">
    <caption>Ranking</caption>
      <tr>
        <th>Rank</th>
        <th>Bot</th>
        <th>User</th>
        <th>Score</th>
      </tr>
      {% for rank, bot in bots %}
        <tr>
          <td>{{ rank }}</td>
          <td><a href="{{ url_for('bot_page', user=bot.user.nickname, botname=bot.name) }}">{{ bot.name }}</a></td>
          <td><a href="{{ url_for('user_page', user=bot.user.nickname) }}">{{ bot.user.nickname }}</a></td>
          <td>{{ bot.score | round(1) }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{%- endblock %}
