@mixin box-sizing {
-webkit-box-sizing: border-box;
  -moz-box-sizing:  border-box;
  box-sizing:       border-box;
}

#controls {
  #control-label {
    @include box-sizing;
    width: 200px;
    float: left;
    border: 1px solid;
    text-align: center;
    h1 {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    label {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  & > div:last-child {
    @include box-sizing;
    padding: 5px;
    padding-left: 210px;

    #steps {
      padding: 25px;
      padding-left: 50px;

      button {
        width: 60px;
        display: inline-block;
        padding: 6px 12px;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 4px;
        text-align: center;
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;;
        font-size: 14px;
        &:focus {
          outline: none;
        }
        &:active {
          background-color: #e6e6e6;
          border-color: #adadad;
        }
        &[disabled] {
          cursor: not-allowed;
          filter: alpha(opacity=65);
          -webkit-box-shadow: none;
          box-shadow: none;
          opacity: .65;
        }
      }

      #playpause {
        .play  { display: block; }
        .pause { display: none;  }
        &.active {
          .play  { display: none;  }
          .pause { display: block; }
        }
      }
    }

    #speed {
      width: 200px;
      padding: 15px;
      float: right;
    }
  }

  #control-slider {
    width: 100%;
    display: block;
  }

  .title {
    display: block;
  }
}
