#visualisation {
    margin-right: 100px;
    margin-bottom: 200px;
    max-height: 100%;
}

#legend {
    width: 100px;
    position: absolute;
    right: 0px;
    top: 25px;
}

#controls {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#file-chooser {
    position: absolute;
    left: 0px;
    top: 0px;
}
