{% extends "layout.html" %}
{% set active_page = "bots" %}

{% block content -%}
  <div class="content">
    <table class="table table-striped table-hover">
    <caption>My bots</caption>
      {% for bot in bots %}
        <tr>
          <td>{{ bot.name }}</td>
          <td class="pull-right">
            <form method="post" action="{{ url_for('remove_bot', user=current_user.nickname, botname=bot.name) }}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p><a href="{{ url_for('new_bot') }}">Upload new bot</a></p>
  </div>
{%- endblock %}
